<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Words to Live Life By</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 100;
            font-family: sans-serif;
            background-color: #f9ccff;
        }
        div {
            width: 1000px;
            margin: auto;
        }
        
    </style>
</head>
<body>
    <div>
        <h2>Dating advice from a pro:</h2>
        <p>I don't even know anymore. It's really hard, man. All I know is that when you go to Olive Garden with a date and you get the unlimited breadsticks they say you get unlimited breadsticks but actually they mean you just get a lot of breadsticks. Like, if you keep sitting there refusing to order and asking for more breadsticks both the server and your date will progressively get more uncomfortable and look at you like YOU'RE weird for wanting UNLIMITED breadsticks when you went there for the UNLIMITED BREADSTICKS DEAL!!!!!!! It's so unfair.</p>
    </div>
</body>
</html>