<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is the only one that matters</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: sans-serif;
            background-color: #f9ccff;
        }
    </style>
</head>
<body>
    <h2>All of human knowledge is contained within this video. </br>PREPARE YOUR MIND</h2>
    <p>https://www.youtube.com/watch?v=dQw4w9WgXcQ</p>
</body>
</html>