<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frogs R Cool</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: sans-serif;
            background-color: #f9ccff;
        }
    </style>
</head>
<body>
    <h2>Frog</h2>
    <img height="30%" src="{{ url_for('static', filename='frog.avif') }}">
</body>
</html>