<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YeeBay</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            height: 100vh;
            margin: 100px;
            font-family: consolas;
            background-color: #f7f3f0;
        }
    </style>
</head>
<body>
    <div>
        <p style="color: red">
            yeeDev_bert: hey whats that ez way to try stuff as admin again?
        </p>
        <p style="color: blue">
            yeeDev_douglas: just add admin as a param to the search page
        </p>
        <p style="color: red">
            yeeDev_bert: hahahahaha thats so stupid
        </p>
        <p style="color: red">
            yeeDev_bert: would be so bad if this convo accidentally got added to the about us page or something lol we should change that
        </p>
    </div>
</body>
</html>