<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YeeBay</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: sans-serif;
            background-color: #f7f3f0;
        }
    </style>
</head>
<body>

    <img src="{{ url_for('static', filename='yee.jpg') }}" height="60%">
    <p>There is no need to contact YeeBay. YeeBay is perfect. Yee.</p>
</body>
</html>